table {
  margin: 10px auto;
  width: 99%;
}
.admin-button{
  margin: 10px;
}
.mt-10{
  margin-top: 10px;
}
.hide{
  display: none;
}
mat-footer-row mat-footer-cell{
  align-items: center;
 justify-content: center;
 font-style: italic;
}
/* filter controls */
.search-div {
  margin: 10px;
}

.search-form-field {
  width: 60%;
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.search-form-field div.mat-form-field-underline {
  display: none;
}

.search-form-field div.mat-form-field-infix {
  border-top: 0px;
}

.search-form-field div.mat-form-field-wrapper {
  padding-bottom: 0px;
}

.search-form-field div.mat-form-field-suffix button {
  height: 32px;
  width: 32px;
}
