.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-content {
  max-width: 50%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-data {
  margin-bottom: 20px;
}

.user-card {
  max-width: 400px;
}

.user-header-image {
  background-image: url('https://images.unsplash.com/photo-1537511446984-935f663eb1f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
  background-size: cover;
}
